body {
    color: rgb(55, 10, 10);
    background-color: black;
}

section {
    background: rgb(222, 87, 222);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}